.editable-header {
  font-weight: 300;
  font-size: 2.25rem;
  color: #6900ff;

  border: none;
  background-color: inherit;

  text-align: center;

  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5rem auto;
}

.editable-header:focus {
  border: none;
  outline: none;
}
