body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
p,
label,
input,
button,
ul,
li {
  font-family: "Roboto", sans-serif;
}

.center {
  text-align: center;
}

.navbar {
  width: 100%;
  height: 85px;

  background-color: #ffd700;

  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}


.loading-spinner {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 55%;
}

.error-hint {
  color: red;
}